.H1{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%
}
.C1{
text-align: center;


}
.C2{
    text-align: center;
 font-size: 200%;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.C3{
    text-align: center; 
}
.C4{
    text-align: center;
}
.C5{
    text-align: center;
}
.C6{
    text-align: center;
}
.C7{
    text-align: center;
}
.C8{
    text-align: center;
}
.C9{
    text-align: center;
}
.C10{
    text-align: center;
}
.C11{
    text-align: center;
    font-size: 200%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.C12{
    background-color: #bde0fe;
}